body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-image: url("assets/burger-friends.jpg");
  background-size: cover;
}

button {
  display: flex;
  padding: 10px;
  border-radius: 10px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #0fb9b1;
}

.box {
display: flex;
flex-direction: column;
background-color: rgba(225, 225, 225, .9);
padding: 100px 100px;
margin-top: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

/*.input-field {
  display: flex;
  margin: 20px;
}*/

.input {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 10px;
}
