.result--box {
  background-color: rgba(225, 225, 225, .9);
  opacity: 0.9;
  width: 490px;
  height: 400px;
  margin-top: 60px;
  padding: 42px;
  display: flex;
  flex-direction: column;
}

.result--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.cookpot-image {
  width: 160px;
  height: 160px;
}

.hidden {
  display: none;
}

.result--action-row {
  display: flex;
  justify-content: flex-end;
}

.result--clear-button {
  border-radius: 6px;
  background-color: #95a5a6;
  color: white;
  border: 0;
  padding: 10px;
}

.result--dont-like {
  display: flex;
  justify-content: flex-start;
}

.result--dont-like-button {
  border-radius: 6px;
  background-color: #36454F;
  color: white;
  border: 0;
  padding: 10px;
}

.dish-name {
  text-align: center;
}

.turn-red {
  background-color: #ee5253;
}

.make-red {
  color: #ee5253;
}