.selection-box {
  background-color: rgba(225, 225, 225, .9);
  opacity: 0.9;
  width: 490px;
  height: 400px;
  margin-top: 60px;
  padding: 42px;
}

.selection-box--title {
  font-size: 36px;
}

.selection-box--asterisk {
  color: red;
}

.selection-box--radios {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 18px;
}

.selection--submit-button {
  border-radius: 6px;
  background-color:#0fb9b1;
  text-align: center;
  font-size: 20px;
  width: 200px;
  padding: 10px;
  border: 0;
  gap: 10px;
}