/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
   background-color: #0fb9b1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px 0 20px;
 }

 main {
   display: flex;
   justify-content: space-around;
   padding-top: 50px;
   background-image: url("./assets/burger-friends.jpg");
   background-size: 100%;   
   height: 100%;
 }

 .add-a-recipe {
  border-style: none;
  border-radius: 4px;
  padding: 10px;
 }

 .what-are-you-looking-for-section, .cookpot-recipe-section {
  background-color: rgba(255, 255, 255, .8); 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 300px;
  width: 400px;
  padding: 50px;
 }

 .what-are-you-looking-for-text {
  font-weight: 900;
  font-size: x-large;
 }

label {
  padding: 10px;
}

 .lets-cook {
  border-radius: 4px;
  border-style: none;
  padding: 10px;
  width: 180px;
  background-color: #0fb9b1;
  margin-top: 20px;
}
 
.cookpot {
  width: 150px;
  align-self: center;
} 
