/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

.main-background {
    background-image: url('./assets/burger-friends.jpg'); 
    background-size: cover; 
    margin: 0;
}
.nav {
    background: #0fb9b1; 
    display: flex;
    justify-content: space-between; 
    padding: 1em;
}
.nav .page-title {
    font-family: roboto;
    font-size: 1.4em;
}
.nav .button {
    border-radius: 6px;
    height: 34px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    padding: 0 1em;
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
}
.content {
    display: flex;
    justify-content: space-around;
    padding: 3em 0em;
}
.hidden {
    display: none !important;
  }
.box {
    display: flex;
    width: 320px;
    padding: 3em;
    background-color: rgba(225,225,225,0.9);
    font-family: roboto;
}
.icon {
    margin: auto;
    width: 120px;
}
.start {
    display: flex;
    width:100%;
}
.results {
    display: flex;
    width:100%;
    flex-direction: column;
}
.results.hidden { 
    display: none;
}
.list-height {
    height: 2em;
}
.cook-button {
    display: flex;
    justify-content: center;
    background: #0fb9b1;
    font-family: roboto;
    border-radius: 4px;
    height: 32px;
    width: 150px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    padding: 0.7em 2em;
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
}
.display-text {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    margin-top: auto;
    font-size: large;
    padding-top: 42px
}
.empty-out {
    border-radius: 6px;
    height: 34px;
    margin-top: auto;
    border: none;
    padding: 0 1em;
    background-color: #95a5a6;
    color: white;
    width: 78px;
    margin-left: 260px;
    margin-bottom: -28px;
}
#result-text {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 44px;
    text-align: center;
    margin-block-start: -.1em;
}
.own-recipe {
    width: 100%;
     background-color: rgba(225, 225, 225, .9);
     display: flex;
     justify-content: flex-start;
     margin-top: auto;
     position: absolute;
     bottom: 0;
     font-family: roboto;
}
.footer-spacing {
    width: 7em;
    margin-top: 1.3em;
    margin-left: 1em;
}
.input-detailing {
    margin: 1em 0;
}
#new-addition {
    height: 2.5em;
    border-radius: 4px;
    border: rgba(225,225,225,.9);
    margin: 1em;
    margin-left: 2em;
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
    background: #0fb9b1;
}
