/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(/Users/jocelynwensloff/turing_work/1mod/projects/solo_projects/whats-for-dinner_JW/assets/burger-friends.jpg);
    background-size: cover;
    margin: 0;
}

.asterisk{
    color:#ee5253;
}

header {
    background-color: #0fb9b1;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}

article {
    background-color: rgba(225, 225, 225, .9);
    width: 420px;
    height: 400px
}

.left-box{
    position: absolute;
    top: 100px;
    left: 125px;
}

.button-header {
    margin-top: 75px;
    font-size: 25px;
    font-weight: bold;
}

p {
    font-size: 18px;
    margin-left: 60px;
}

.lets-cook-button {
    background-color: #0fb9b1 ;
    border-radius: 5px;
    border-color: #0fb9b1;
    width: 200px;
    height: 50px;
    font-size: 18px;
    margin-left: 60px
}

.right-box{
    position: absolute;
    top: 100px;
    left: 725px;
    display: grid;
    place-items: center;
}

.cooking-pot{
    width: 125px;
    height: auto;
}
