
*/
@media (max-width: 2200px) {
  * {
    /* border: 2px solid red; */
    font-family: 'Roboto', sans-serif;
  }

  body {
    background: url(assets/burger-friends.jpg);
    background-size: cover;
    margin:0;
    padding: 0;
  }

  button {
    height: 30px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  button:hover {
    background-color: #83d3cf;
  }

  form {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
  }

  header {
    background-color: #0fb9b1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding: 0;
  }

  .required {
    color: red;
    font-size: medium;
    position:fixed;
  }

  html {
    height: 100%;
  }

  label {
    width: 100px;
    height: 40px;
    padding-left: 20px;
    margin-top: -19px;
    font-size: x-large;
  }

  span {
    color: #ee5253;
  }

  .button-position {
    width: 200px;
    height: 30px;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
  }

  .box {
    background-color: rgba(225, 225, 225, .9);
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 65%;
  }

  .clear-button {
    background-color: #95a5a6;
    color: white;
    width: 15%;
    height: 8%;
    position: relative;
    left: 30%;
    top: 17%;
    font-size: large;

  }

  .cookpot {
    width: 45%;
    height: 45%;
  }

  .cookpot-container{
    justify-content: center;
    align-items: center;
  }

  .fade-in-text {
    animation: fadeIn 3s;
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    30%{opacity: 0;}
    100% {opacity: 1;}
  }

  .hidden {
    display: none;
  }

  .lets-cook-button {
    background-color: #0fb9b1;
    width: 52%;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-title {
    width: 200px;
    height:25px;
    margin-left: 5px;
    font-size: x-large;
  }

  .prompt{
    margin-top: 50px;
    font-size: xx-large;
  }

  .recipe-intro {
    font-style: italic;
    font-size: x-large;
    margin: 0;
  }

  .random-recipe {
    font-size: xxx-large;
    text-align: center;
    margin: 0;
  }

  .random-recipe-smaller {
    font-size: xx-large;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
  }

  .wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
/* main display settings */
@media (max-width: 1980px) {
  * {
    font-family: 'Roboto', sans-serif;
  }

  body {
    background: url(assets/burger-friends.jpg);
    background-size: cover;
    margin:0;
    padding: 0;
  }

  button {
    height: 30px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  button:hover {
    background-color: #83d3cf;
  }

  form {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
  }

  header {
    background-color: #0fb9b1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding: 0;
  }


  html {
    height: 100%;
  }

  label {
    width: 100px;
    height: 40px;
    padding-left: 20px;
    margin-top: -19px;
    font-size: large;
  }

  span {
    color: #ee5253;
  }

  .button-position {
    width: 200px;
    height: 30px;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
  }

  .box {
    background-color: rgba(225, 225, 225, .9);
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 65%;
  }

  .clear-button {
    background-color: #95a5a6;
    color: white;
    width: 15%;
    height: 8%;
    position: relative;
    left: 30%;
    top: 17%;
    font-size: large;

  }

  .cookpot {
    width: 45%;
    height: 45%;
  }

  .cookpot-container{
    justify-content: center;
    align-items: center;
  }

  .fade-in-text {
    animation: fadeIn 3s;
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    30%{opacity: 0;}
    100% {opacity: 1;}
  }

  .hidden {
    display: none;
  }

  .lets-cook-button {
    background-color: #0fb9b1;
    width: 52%;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-title {
    width: 200px;
    height:25px;
    margin-left: 5px;
    font-size: x-large;
  }

  .prompt{
    margin-top: 50px;
    font-size: xx-large;
  }

  .recipe-intro {
    font-style: italic;
    font-size: x-large;
    margin: 0;
  }

  .random-recipe {
    font-size: xxx-large;
    text-align: center;
    margin: 0;
  }

  .random-recipe-smaller {
    font-size: xx-large;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
  }

  .required {
    color: red;
    font-size: medium;
    position:fixed;
  }

  .wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media (max-width: 820px) {

  .clear-button {
    width: 17%;
    height: 5%;
    left: 60%;
    top: 75%;
    position: fixed;
    font-size: x-large;
  }

  .wrapper { flex-direction: column;
    margin-top: 60px;}

    .box { width: 70%;
      height: 50%;
    }

    .lets-cook-button {
      width: 80%;
      margin-top: 10px;
      font-size: x-large;
      padding: 25px;
    }

    label {
      font-size: x-large;
      width: 150px;
      height: 40px;
      margin-top: -19px;
    }

    form {
      margin-top: 40px;
      width: 75%;
      height: 85%;
    }

    .required {
      font-size: large;
      bottom: 80%
    }

    .prompt {
      margin-top: 0px;
      font-size: xx-large;
    }

    .random-recipe {
      margin-top: 0px;
      font-size: xx-large;
    }

    .random-recipe-smaller {
      font-size: xx-large;
      margin-top: 0;
      margin-left: 70px;
      margin-right: 70px;
    }

    .recipe-intro {
      font-size: x-large;
    }


  }
@media (max-width: 480px) {

  .clear-button {
    width: 20%;
    height: 6%;
    position: fixed;
    left: 65%;
    top: 75%;
    font-size: medium;
  }

  .wrapper { flex-direction: column;
              margin-top: 20px;}

  .box { width: 80%;
        height: 45%;
      }

  .lets-cook-button {
    width: 80%;
    margin-top: 5px;
    font-size: medium;
  }

  label {
    font-size: large;
    height: 30px;
    margin-top: -14px;
  }

  form {
    width: 75%;
    height: 80%;
  }

  .required {
  font-size: small;
  bottom: 83%
  }

  .prompt {
  margin-top: 0px;
  font-size: x-large;
    }

  .random-recipe {
  margin-top: 0px;
  font-size: x-large;
    }

  .random-recipe-smaller {
  font-size: x-large;
  margin-top: 0;
  margin-left: 70px;
  margin-right: 70px;
    }

  .recipe-intro {
  font-size: medium;
    }
}
