/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
/*----------------------------------- TOP OF THE PAGE*/
.bg-img {
  background-image: url("/Users/ianmcintosh/whats-for-dinner/assets/burger-friends.jpg");
  min-height: 100%;
  background-size: 100%;
  margin: 0px;
}

.top-nav {
  overflow: hidden;
  background-color: #0fb9b1;
}

.top-nav a {
  float: left;
  color: #000000;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 14px 15px;
  text-decoration: none;
  font-size: 18px;
}

.top-nav a:hover {
  background-color: #ddd;
  color: black;
}

.recipe-button {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 30px;
}


/*--------------------------------- MIDDLE OF THE PAGE */
.middle-page {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.content-box {
  background-color: rgba(225, 225, 225, .9);
  width: 450px;
  height: 350px;
  padding: 50px;
  margin: 20px;
  margin-top: 80px;
}

.content-box h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.content-box fieldset {
  border: rgba(225, 225, 225, .9);
  margin-top: 30px;
}

.content-box label {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 5px;
}

.content-box input {
  margin: 10px;
}

.content-box button {
  background-color: #0fb9b1;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-top: 30px;
  border-color: blue;
  border-radius: 5px;
  width: 215px;
  height: 35px;
  cursor: pointer;
}

.content-box button:hover {
  background-color: #075450;
  color: white;
}
.content-box img {
  height: 300px;
  width: 300px;
  margin-top: 50px;
  margin-left: 70px;
}

.food-title {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  font-style: italic;
  font-weight: 200;
  text-align: center;
  margin-top: 100px;
}

.food-text {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-style: bold;
  text-align: center;
  margin-top: -20px;
}

.clear-section button {
  background-color: #95a5a6;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: white;
  border: 0;
  width: 80px;
  margin-top: 0px;
  margin-left: 400px;
}

/* ----------------------------------------------BOTTOM OF THE PAGE */
.bottom-container {
  position: absolute;
  right: 0; 
  bottom: 0; 
  float:left;
  margin: 0px;
  bottom: 0px;
  display: block;
  left: 0px;
}

.bottom-nav {
  overflow: hidden;
  background-color: rgba(225, 225, 225, .9);
}


/* UTILITIES */
.hidden {
  display: none;
}



