/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-image: url("assets/burger-friends.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #0fb9b1;
    font-family: 'Roboto', sans-serif;
}

.navigation-title {
    padding: 13px 10px 10px 10px;
    margin-left: 10px;
}

section {
    display: flex;
    justify-content: space-evenly;
}

article {
    margin-top: 10%;
    background-color: rgba(225, 225, 225, .9);
    height: 260px;
    width: 350px;
    padding: 3%;
}

.choice-box-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.28em;
    display: flex;
    justify-content: space-evenly;
    margin-left: 3%;
    margin-bottom: 6%;
    
}

.choice-box-radio {
    margin-bottom: 7%;
}

ul {
    padding-left: 6%;
}
.choice-box-button {
    font-family: 'Roboto', sans-serif;
    background-color: #0fb9b1;
    border : none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    margin-left: 5%;
    width: 50%;
}

.cook-box {
 background-image: url(assets/cookpot.svg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: 30%;
}