/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

header {
    background-color: #0fb9b1;
    height: 75px;
    margin-top: -22px;
}

body {
    background-image: url(./assets/burger-friends.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
  }

h2 {
    font-family: 'Roboto', sans-serif; 
}

p {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

input {
    margin-bottom: 20px;
}

.page-title {
    font-family: 'Roboto', sans-serif;
    color: black;
    padding-top: 20px;
    padding-left: 20px;
}

.main-menus {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 46px;
    padding-left: 23px;
    width: 483px;
    background-color: rgba(255, 255, 255, 0.75);
}

.star {
    color: #ee5253;
}

.input-options {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
    padding: 10px;
}

.lets-cook-button {
    height: 30px;
    width: 150px;
    background-color: #0fb9b1;
    border: none;
}


.right-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 46px;
    height: 400px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.75);
 
}

.prompt {
    font-style: italic;
    margin: 0px;
}

.suggestion {
    font-size: 40px;
    margin: 0px;
}

.favorite-section {
    font-family: 'Roboto', sans-serif;
}

.favorite-buttons {
    height: 30px;
    width: 175px;
    margin-top: 30px;
    background-color: #0fb9b1;
    border: none;
}

.go-back-button {
    height: 30px;
    width: 175px;
    margin-top: 30px;
    background-color: #0fb9b1;
    border: none;
}

.cookpot-img {
    width: 25%;
}

.favorite-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#favorite-dishes {
    font-family: 'Roboto', sans-serif;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.remove-buttons {
    height: 20px;
    background-color: #0fb9b1;
    border: none;
}

.hidden {
    display: none;
}