/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

/* ~~~~~ GLOBAL RULES ~~~~~ */
html {
    background-image: url("assets/burger-friends.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: 'Roboto', sans-serif;
}
.hidden {
    display: none!important;
}

/* ~~~~~ HEADER RULES ~~~~~ */

header {
    background-color: #0fb9b1;
    display: flex;
    flex-direction: row;
    font-size: large;
    height: 60px;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#header-title {
    margin: 15px 20px;
}
#header-btn {
    background-color: rgba(225, 225, 225, .9);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:inherit;
    margin: 12px 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* ~~~~~ SECTION/BOX RULES ~~~~~ */  

section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 125px;
}
.box {
    background-color: rgba(225, 225, 225, .9);
    display: flex;
    flex-direction: row;
    height: 400px;
    position: relative;
    opacity: 95%;
    width: 500px;
}

/* ~~~~~ FORM RULES ~~~~~ */ 

#lets-cook-form {
    align-items: center;
    font-size: larger;
    font-weight: bolder;
    margin: 30px 0 0 40px;
}

.menu-selection {
    font-size: xx-large;
}

sup {
    color: #ee5253;
}
.lets-cook-btn {
    background-color: #0fb9b1;
    border: none;
    border-radius: 5px;
    font-size: inherit;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ~~~~~ PIC/FOOD RULES ~~~~~ */ 

.cookpot-img {
    height: 200px;
    margin: auto;
    width: 200px;
}
.random-meal {
    align-items: center;
    font-weight: bolder;
    margin: auto;
    text-align: center;
}
em {
    font-size: 30px;
}
p {
    font-size: 45px;
}

.clear-btn {
    background-color: #95a5a6;
    border: none;
    border-radius: 5px;
    bottom: 0;
    color: white;
    cursor: pointer;
    font-size: larger;
    margin: 25px 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    right: 0;
}