/* font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/
body {
  background-image: url(assets/burger-friends.jpg);
  background-size: cover;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.navBar {
  background-color: #0fb9b1;
  padding: 0%;
}

.navigationTitle {
  padding: 13px 10px 10px 10px;
    margin-left: 10px;
}


.buttonContainer {
  display:flex;
  justify-content:flex-end;
  align-items:right;
}

section {
  display:flex;
  justify-content: space-evenly;
}

article {
  background-color: rgba(225, 225, 225, .9);;
  height:300px;
  width: 350px;
  margin-top: 11%;
}


.what-are-you-looking-for {
  background-color: rgba(225, 225, 225, .9);
  display:flex;
  justify-content:space-around;
  align-items:left;
}

.frame1-title {
  display:flex;
  justify-content: space evenly;
  margin-top: 10%;
  margin-left: 12%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.12em;
}

.frame1-radio-button {
  margin-bottom: 4%
}

#cook-button {
  font-family: 'Roboto', sans-serif;
  background-color: #0fb9b1;
  border: none;
  margin-top: 1%;
  margin-left: 13%;
  height: 10%;
  width: 40%;
}

.cookPot {
display: flex;
justify-content: space-evenly;
align-content: center;
margin-left: 27%;
margin-top: 30%;
height: 25%;
width: 40%;

}

.hidden {
  display: none;
}
