/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
 */

/* * {
    border: 1px solid red;
} */


header {
    background-color: #0fb9b1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10;
    margin-left: -10px;
    margin-right: -8;
    margin-bottom: -100px
}

.main-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10%;
}
.image {
    background-color: rgba(225, 225, 225, .9);
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ar {
    display: block;
    font-size: 1em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 25px;
    padding: 10 20;
    border-radius: 8%;
    border: none
}

img {
    width: 100px;
    height: auto;
}

.dinner-left {
    background-color: rgba(225, 225, 225, .9);
    width: 500;
    height: 400;
}



h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 35px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 35;
    margin-block-start: 75px;
    margin-block-end: 0.83em;
    margin-inline-start: 30px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: -15;
}


body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url("./assets/burger-friends.jpg");
}

.list {
    display: flex;
    flex-direction: column;
    padding: 40;
    padding-bottom: 10;
}

label {
    margin-bottom: 15;
    margin-top: -5;
    font-size: 25;
}

.lets-cook {
    margin-left: 50;
    padding: 10px 50px;
    background-color: #0fb9b1;
    border: none;
    border-radius: 8%;
}