/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253 */
body {
    font-family: 'Roboto', sans-serif;
    width: 1000px;
}

.title {
    /* border: solid red; */
    background-color: #0fb9b1;
    height: 50px;
    display: flex;
    vertical-align: middle;
}

p {
    margin: 15px;
    font-weight: bold;
}
.main {
    /* border: solid red; */
    background: url("assets/burger-friends.jpg");height: 500px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: centers;
    background-size: cover;

}

.opaque-squares {
    /* border: solid yellow; */
    background-color: rgba(225, 225, 225, .9);
    box-sizing: border-box;
    padding: 25px;
    width: 375px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 40px;
}

.block-1-heading {
    /* border: solid purple; */
    height: 60px;
    display: flex;
    align-items: center;
}
.heading {
    font-size: 22;
    font-weight: 900;
}

.radio-block{
    /* border: solid teal; */
    width: 300px;
    display: flex;
    flex-direction: column;
}

.radio-btn {
    /* border: solid green; */
    display: inline-block;
    width: 140px;
    margin: 7px;
}
.radio {
    /* border: solid red; */
}

.cook-button {
    /* border: solid red; */
    border: none;
    border-radius: 5px;
    background-color: #0fb9b1;
    margin: 10px;
    padding: 7px;
    height: 30px;
    width: 170px;
    font-size: 12px;

}

#opaque-square-2 {
    background-color: rgba(225, 225, 225, .9);5a5a6;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-in-block-2 {
    /* border: solid red; */
    height: 120px;
    width: auto;
}

.recipe {
    
}
.hidden {
    display: none
}