/*font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
/* Nav Bar: */
.teal-nav-bar {
  display: flex;
  background-color: #0fb9b1;
  justify-content: space-between;
  font-size: 75%;
  padding-left: 20px;
}
.corner-button {
  margin: 18px;
  padding: 7px;
  border-radius: 10%;
  border-width: 0px;
}

/* Main area: */
main {
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
}

.choices {
  padding-bottom: 9px;
  flex-direction: column;
}

.input-output-container {
  display: flex;
  margin-top: 50px;
}

.input-output {
  background-color: rgba(225, 225, 225, .9);
  width: 400px;
  height: 400px;
  margin: 75px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.output {
  background-color: rgba(225, 225, 225, .9);
  width: 400px;
  height: 400px;
  margin: 75px;
  display: block;
  flex-direction: column;
}

.output-box-text {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  text-align: center;
}

.output-box-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  margin-right: 15px;
}

.hidden {
  display: none!important;
}

img {
  max-height: 100px;
}

#input-box {
  align-items: baseline;
}

h2, .lets-cook {
  margin-left: 30px;
}

.red {
  color: #ee5253
}

.lets-cook {
  background-color: #0fb9b1;
  border-radius: 12%;
  padding: 10px 30px 10px 30px;
  border: none;
}

.clear {
  background-color: #95a5a6;
  color: white;
  padding: 7px;
  border-radius: 10%;
  border-width: 0px;
}
