/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
html {
  height: 100%;
}


* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("assets/burger-friends.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.header-container {
  background-color: #0fb9b1;
  display: flex;
  align-content: center;
  height: 58px;
}

.header-text {
  padding: 5px;
  margin: 10px;
}

.recipe-button,
.recipe-button:visited {
      padding: 5px 10px;
      border: 2px solid #FFF;
      height: 29px;
      position: absolute;
      top:15px;
      right:20px;
}

.recipe-button:hover {
  background: #000;
  color: #FFF;
}

h3 {
  font-size: 1.7em;
}

.box-title {
  padding: 20px;
}

input[name='food-option']{
  margin: 10px;
}


.box-one-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-one {
  width: 400px;
  height: 380px;
  margin-right: 70px;
  padding: 25px;
  background: rgba(255,255,255, 0.7);
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
}

.header-two {
  font-style: italic;
  font-size: 24px;
}

.recipe-text {
  font-size: 42px;

}

.cook-button {
  background-color: #0fb9b1;
  border-radius: 10px 10px 10px 10px;
  height: 40px;
  width: 200px;
  font-size: 15px;
  border: solid;
  border-color: cornflowerblue;
}

.two-contents {
text-align: center;
font-size: 50px;
}

.box-two-contents {
  display: flex;
  justify-content: center;
}

.box-two {
  width: 400px;
  height: 380px;
  margin-left: 70px;
  padding: 25px;
  background: rgba(255,255,255, 0.7);
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.clear-button {
  height: 29px;
  width: 100px;
  border-radius: 10px 10px 10px 10px;
  font-size: 15px;
  background-color: grey;
  color: white;
  border: none;
  position: absolute;
  right: 45px;
  bottom: 35px;
}

.clear {
  justify-content: flex-end;
  display: flex;
}



.white-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  height: 800px;
  width: auto;
  margin: auto;
}

.box {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
