/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
  background-image: url(./assets/burger-friends.jpg);
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

button {
  border-radius: 5px;
  padding: 12;
  border: none;
}


.page-header {
  background-color: #0fb9b1;
  /* border: solid 4px black; */
  width: 100%;
  max-height: 65px;
  /* margin: none;
  padding: none; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.title {
  margin: 15px;
}

.add-recipe{
  margin: 15px;
}

.main-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 40px;
  /* border: solid 4px pink; */

}



.box{
  /* aspect-ratio: 6.7 / 5.4; */
  width: 350;
  height: 280;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}



.content{
  padding: 30px;
  width: 100%;
  aspect-ratio: 11 / 9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.input-form {
  /* border: solid 4px #ce0058; */
  background-color: rgba(225, 225, 225, .9);

}
.required-field::after {
  content: "*";
  color: red;
  margin-left:2px
}

.output-display {
  /* border: solid 4px #81d8d0; */
  background-color: rgba(225, 225, 225, .9);
}


.lets-cook{
  background-color: #0fb9b1;
  margin: 10px;
  padding-right: 40px;
  padding-left: 40px;

}

.cookpot-icon{
  width:60%;

  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


.hidden{
  display: none;
}

.should-make {
  font-style: italic;
  margin: 0;

}

.form-result {
  text-align: center;
}

.form-output {
  font-size: xx-large;
  margin: 0;
}

.clear {
  background-color: #95a5a6;
  color: white;
  padding-top:15px;
  /* position: absolute; */

}
.clear-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.add-new{
  background-color: #0fb9b1;
  margin: 10px;
  padding-right: 10px;
  padding-left: 10px;

}

footer{
  width: 100%;
  max-height: 70px;
  position:fixed;
  bottom:0;
  left:0;
  margin: 0;
}

.bottom-bar{
  background-color: rgba(225, 225, 225, .9);
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#F1  {
  padding: 8px;
}
