/* font-family: 'Roboto', sans-serif;
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/
body {
  background-image: url(assets/burger-friends.jpg);
  background-size: cover;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.navBar {
  background-color: #0fb9b1;
  padding: 4px;
}

.buttonContainer {
  display:flex;
  justify-content:flex-end;
  align-items:right;
}

.what-are-you-looking-for {
  background-color: rgba(225, 225, 225, .9);
  display:flex;
  justify-content:space-around;
  align-items:left;
}
