
body {
  background-image: url('./assets/burger-friends.jpg');
  background-size: cover;
  background-position: center;

}

.header {
  background-color: #0fb9b1;
}



/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
<
