/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

* {
  border: 2px solid blue;
}

body {
    padding: 0;
    margin: 0;
    border : 0;
    background-image: url('./assets/burger-friends.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #0fb9b1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
}

main {
    padding: 300px;
    margin: 0;
    border: 0;
}

.form {
    background-color: rgba(225, 225, 225, .9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    width: 500px;
}

.output {
    background-color: rgba(225, 225, 225, .9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    min-width: 500px;
  }

  .boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  h1 {
    padding-left: 20px;
  }

  button {
    padding: 6px 12px;
    margin: 5px 20px;
    border: none;
    border-radius: 8%;
    border-radius: 8px;
    font-size: 18px;
  }

  img {
    height: 150px;
    width: 150px;
  }