/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

* {
  /* border: solid red 2px; */
  font-family: 'Roboto', sans-serif;
}


body, html {
  height: 100%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var("assets/burger-friends.jpg");
  background-position: bottom;
}

header {
  padding-left: 25px;
  box-sizing: border-box;
}

button {
  width: 150px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 5px;
}

p {
  font-size: 25px;
}

.hidden {
  display: none;
}

.top-page {
  margin: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0fb9b1;
}

.clear {
  width: 75px;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: #95a5a6;
  position: absolute;
  margin-left: 25%;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.3);
  background-color: #0fb9b1;
  color: black;
}

.add-recipe {
  margin: 15px;
  opacity: 55%;
}

.recipe-head {
  font-size: 23px;
  font-style: italic;
}

.burgers {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var("assets/burger-friends.jpg");
  background-position: relative;
  width: 100%;
  background-repeat: no-repeat;
  z-index: 0;
}

.main-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cook-pot {
  height: 45%;
  padding-top: 24%;
}

.asterisk {
  padding-left: 8px;
  color: red;
}

.inactive {
  opacity: 55%;
}

.lets-cook {
  margin-top: 15px;
  background-color: #0fb9b1;
  border: none;
  border-radius: 7px;
  font-size: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: black;
  width: 250px;
}

.radio {
  float: left;
}

.label {
  float: right;
}

.left-side {
  margin-left: 5%;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 45px;
  padding-top: 35px;
}

.right-side {
  margin-left: 54%;
  align-items: center;
  text-align: center;
  padding-top: 35px;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(225, 225, 225, .9);
  opacity: 90%;
  width: 40%;
  height: 65%;
  padding-bottom: 25px;
  font-size: 20px;
  box-sizing: border-box;
  margin-bottom: 17%;
}


/* //working on researching how to add mobile responsiveness  */
.header {width: 100%; }
.main {width: 100%; }
.top-page {width: 100%; }


/* //small devices - landscape phones 576 px and up */
@media (min-width: 576px) {

/* working on generalizing the laptop screen range */
/* the following is for non-retina screens */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
  }

  /* the following is for non-retina screens */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
  }
