* {
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
}

/*~~~~~NAVIGATION BAR~~~~~*/

.navigation-bar {
  display: flex;
  justify-content: space-between;
  background-color: #0fb9b1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
}

.whats-for-dinner {
  margin-left: 10px;
  font-weight: 900;
}

.add-a-recipe-button {
  margin: 15px;
  height: 2em;
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
  border-color: rgb(225, 225, 225);
  border-style: solid;
}

/*~~~~~CONTAINERS~~~~~*/

.containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 40%;
}

/*~~~~~CONTAINER 1~~~~~*/

.container-one {
  width: 510px;
  height: 370px;
  margin: 100px;
  padding: 20px;
  opacity: 90%;
  font-size: 120%;
  color: black;
  background-color: rgba(225, 225, 225, .9);
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

label {
  margin-bottom: 10px;
}

.what-are-you-looking-for {
  margin-left: 50px;
  margin-top: 70px;
  margin-bottom: 0px;
  font-size: 1.5em;
  color: black;
  font-weight: 900;
}

.what-are-you-looking-for::after {
  content: " *";
  color: red;
}

.lets-cook-btn {
  background-color: #0fb9b1;
  margin-top: 20px;
  width: 175px;
  height: 35px;
  font-size: 80%;
  border-radius: 5px;
  border-color: #0fb9b1;
  font-weight: 900;
}

.side-label {
  margin-top: 30px;
}

/*~~~~~CONTAINER 2~~~~~*/

.container-two {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 550px;
  height: 410px;
  margin: 100px;
  background-color: rgba(225, 225, 225, .9);
  color: black;
  opacity: 90%;
}

.cookpot {
  height: 30%;
  width: 30%;
}

.dish-output {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-style: italic;
}

.display-food {
  margin: auto;
  font-size: 40px;
  font-style: normal;
}

.clear-btn {
  position: absolute;
  bottom: 20px;
  right: 20px; 
  height: 35px;
  width: 70px;
  border-radius: 5px;
  color: rgb(225, 225, 225);
  font-weight: 900;
  background-color: #95a5a6;
  border-color: #95a5a6;
}

.entire-meal {
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  margin-left: 30px;
  margin-right: 30px;
}
