/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
html {
  background-image: url("assets/burger-friends.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

.nav-bar {
  background-color: #0fb9b1;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.nav-button {
  margin: 8px;
  padding: 6px;
  background-color: rgba(225, 225, 225, .9);
}

button {
  border-radius: 5px;
  border: none;
}

h2 {
  text-align: left;
  padding-left: 5px;
}

.required {
  color: #ee5253;
}

#title {
  margin: 10px;
  font-size: 20;
}

.container {
  width: auto;
  height: 400px;
  display: flex;
  justify-content: space-between;
  margin: 40px;
  margin-left: 150px;
  margin-right: 150px;
}

.box1 {
  background-color: rgba(225, 225, 225, .9);
  float: left;
  width: 30%;
  height: 300px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 40px;
}

.radio {
  margin: 10px;
}
.cook-button {
  background-color: #0fb9b1;
  float: left;
  width: 175px;
  height: 30px;
  border-radius: 3px;
  margin: 10px;
}

.box2 {
  background-color: rgba(225, 225, 225, .9);
  float: left;
  width: 30%;
  height: 300px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 110px;
  width: 110px;
}

.suggested-title {
  font-weight: bold;
}

.suggested-meal{
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}

.clear-button {
  background-color: #95a5a6;
  width: 75px;
  height: 30px;
  border-radius: 3px;
  margin: 10px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 12px 0;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .show {
  visibility: visible;
}

.recipe-form {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(225, 225, 225, .9);
  padding: 30px;
}

.add-new-button {
  background-color: #0fb9b1;
  padding: 6px;
  margin-left: 10px; 
}
