/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/

.hidden {
  display: none;
}

body {
  background: url(/Users/loganvincent/turing/mod-1/whats-for-dinner/assets/burger-friends.jpg);
}

nav {
  justify-content: flex-end;
  background-color: #0fb9b1;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-area {
  display: flex;
  justify-content: space-around;
}

#add-recipe {
  padding: 5px 5px 5px 5px;
}

.selection-box {
  display: flex;
  background-color: rgba(225, 225, 225, .9);
  width: 500px;
  height: 500px;
  margin: 50px;
}

.radio-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.recipe-box {
  /* display: flex; */
  background-color: rgba(225, 225, 225, .9);
  width: 500px;
  height: 500px;
  margin: 50px;
}
