/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* top nav bar */
nav {
  background: #0fb9b1;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 20px;
}
.recipe-button {
  width: fit-content;
  padding: 10px;
  border-radius: 4px;
  border: 0;
  margin-right: 20px;
}
.view-favorite-button {
  width: fit-content;
  padding: 10px;
  border-radius: 4px;
  border: 0;
  margin-left: 60%;
}

/* main home view */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main-child {
  background-color: rgba(225, 225, 225, .9);
  margin-top: 45px;
}
#form-view {
  height: 350px;
  width: 395px;
  padding-left: 30px;
  line-height: 35px;
}
.radio-button-title {
  margin-top: 50px;
  font-size: 25px;
}
span {
  color: #ee5253;
}
.lets-cook-button {
  background-color: #0fb9b1;
  width: 40%;
  height: 10%;
  padding: 5px;
  border: 0;
  border-radius: 4px;
  margin-top: 10px;
}
.cookpot {
  margin-top: 100px;
  margin-left: 112px;
  height: 40%;
  width: 40%;
}
.cookpot-view {
  height: 350px;
  width: 415px;
}

/* results view */
.results-section {
  height: 350px;
  width: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.should-make {
  font-style: italic;
  margin-top: 100px;
}
.result-option-buttons {
  width: 415px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.favorite-button {
  background-color: #95a5a6;
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  margin-right: 65px;
  margin-top: 30px;
}
.clear-button {
  background-color: #95a5a6;
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  margin-left: 65px;
  margin-top: 30px;
}
.hidden {
  display: none;
}
.results {
  font-size: 20px;
  margin: 0px 40px 40px 55px;
}

/* favorites view */
.favorites-view {
  background-color: rgba(225, 225, 225, .9);
  margin-left: 20%;
  margin-top: 20px;
  height: 400px;
  width: 400px;

}
.favorite-recipes {
  font-size: 25px;
  text-align: center;

}
.favorites {
  margin-left: 8%;
}
.return-to-main {
  background-color: #95a5a6;
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 12px 12px 0px 12px;
  margin-left: 38%;
  text-align: justify;
}

/* add recipe view */
footer {
  background: rgba(225, 225, 225, .9);
  position: fixed;
  bottom:0;
  left:0;
  right: 0;
  padding: 1.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.add-new-recipe-button {
  background-color: #0fb9b1;
  border: 0;
  border-radius: 4px;
  padding: 8px;
}
