/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253 */

/* */
* {
/* background-image: url("./assets/burger-friends.jpg"); */
}

body {
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

nav {
  display: flex;
  background-color: #0fb9b1;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
}

.navbar-button {
  border-radius: 5%;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 10px 24px;

}
