/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

/* * {
  border: solid 2px red;
} */

body {
  display: flex;
  flex-direction: column;
  font-family:'Roboto', sans-serif;
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.main-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 5px 10px;

}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  background: #0fb9b1;
  padding-bottom: 0px;
  height: 10%;
  width: 100%;
}

.button {
  float: right;
  background-color:rgba(225, 225, 225, .9);
  background-repeat: no-repeat;
  border-radius: 8px;
  color: #333333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 38%;
  font-family:'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 5px;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  width: 9.2%;
  touch-action: manipulation;
}

.button-2 {
  background-color: #0fb9b1;
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  touch-action: manipulation;
}

.button-3 {
  background-color: #95a5a6;
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  float: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
}
}
img {
  height: auto;
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;

}

.text-wrapper-left {
  background-color: rgba(225, 225, 225, .9);
  border: 1px solid white;
  float: left;
  padding: 20px 35px 20px;
  text-align: left;
  width: 20%;
}

.text-wrapper-right {
  background-color: rgba(225, 225, 225, .9);
  border: 1px solid white;
  float: right;
  padding: 20px 35px 20px;
  text-align: center;
  width: 20%;
}

.food-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: large;
}
.crockpot {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 60%;
  align-content: center;
}

.hidden {
  display: none;
}
