.hidden {
  display: none;
}

body {
  background-image: url("assets/burger-friends.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;

}

/* Nav bar and title at the top of home page*/
.topNav {
  background-color: #0fb9b1;
  height: 40;
  max-width: 100%;
  border: 0;
  padding: 5;
}

.add-recipe-button {
  float: right;
  font-family: sans-serif;
  font-size: 12px;
  border-width: 0px;
  width: 100px;
  height: 25px;
  border-radius: 5px 5px;
}

.title {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  padding: 0px 27px;
  margin: 10px;
  font-weight: bold;
}

/* home page */
.home-page {
  margin: 150px;
  padding: 10px;
}

.cooking {
  padding: 20px 20px;
  width: 300px;
  height: 200px;
  float: right;
  background-color: rgba(225, 225, 225, .9);
  background-repeat: no-repeat;
}

.you-should-make {
  text-align: center;
  position: absolute;
  width: 200px;
  height: 50px;
  color: black;
  bottom: -1.1em;
  padding: 2px 50px;
  margin: 242px 0px;
  font-size: 14px;
  font-family: 'Roboto';
  font-style: italic;
}

.item-generated {
  text-align: center;
  position: absolute;
  width: 300px;
  height: 100px;
  color: black;
  padding: 75px 45px;
  margin: 1px -46px;
  font-size: 28px;
  font-family: 'Roboto';
}

.cook-pot-img {
  width: 93px;
  height: 192px;
  padding: 5px 100px;
}

.clear-button {
  background-color: #95a5a6;
  color: white;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 500;
  border-width: 0px;
  width: 70px;
  height: 25px;
  border-radius: 5px 5px;
  margin: 147px 2px;
  float: right;
}

.what-are-you-looking-for {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 20px;
  width: 300px;
  height: 200px;
  float: left;
  background-color: rgba(225, 225, 225, .9);
}

h1.altColor {
  color: #ee5253;
}

.lets-cook-button {
  background-color: #0fb9b1;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 100;
  border-width: 0px;
  width: 125px;
  height: 25px;
  border-radius: 5px 5px;
  margin: 26px 2px;
}

.options {
  padding: 2px 2px;
  margin: 1px 1px;
  font-size: 14px;
}

input[type=radio] {
    border: 0px;
    width: 3%;
}


 font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
