/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
  margin: 0;
  background-image: url(./assets/burger-friends.jpg);
  background-size: cover;
}
h2 span {
  color: #ee5253;
}

.box1 div {
  display: flex;
  font-size: 16px;
  margin: 20 0;
}

.header {
  padding: 5px;
  background-color: #0fb9b1;
  font-family: 'Open Sans', sans-serif;
}

.hidden {
  display: none;
}

.box-layout {
  max-width: 1600px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.box1 {
  padding: 40px;
  box-sizing: border-box;
  margin-bottom: 20px;
  /* margin-right: 50px; */
  /* display: flex; */
  flex: 1;
  flex-basis: 45%;
  background-color: rgba(225, 225, 225, .9);
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.box2 {
  padding: 40px;
  box-sizing: border-box;
  margin-bottom: 20px;
  /* display: flex; */
  /* margin-left: 50px; */
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 45%;
  background-color: rgba(225, 225, 225, .9);
  float: right;
  align-content: center;
}

#maketxt {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 525;
}

#foodtxt {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 525;
}

.cookPot {
  width: 200px;
}

.addRecipeBtn {
  float: right;
  height: 30px;
  border-radius: 5px;
  border: none;
}

#clearBtn {
  width: 75px;
  height: 30px;
  border-radius: 5px;
  background-color: #95a5a6;
  color: rgba(225, 225, 225, .9);
  border: none;
}

.letsCookBtn {
  padding: 0 60px;
  line-height: 2.5;
  background-color: #0fb9b1;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  border: none;
}

.letsCookBtn:hover {
  background-color: Teal;
  color: rgba(225, 225, 225, .9);
}

#clearBtn:hover {
  background-color: Grey;
  color: Black;
}

.addRecipeBtn:hover {
  background-color: rgba(225, 225, 225, .9);
  color: White;
}
