 /* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253 */

header {
    display: flex;
    padding: 20px;
    text-align: center;
    background: #0fb9b1;
    color: black;
    font-size: 20px;
    font-weight: 2000;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 12px;
  }

  body {
    background-image: url('assets/burger-friends.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .recipe-button {
    margin-left: auto;
  }

  .user-input-box {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: rgba(225, 225, 225, .9);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px; /* Adjust the padding value to your preference */
    margin: 100px;
    opacity: 85%;
    text-align: left;
    font-size: 15px;
    position: relative;
  }

  .user-input-box h1 {
    margin-top: 0;
  }

  #meal-type-box h1::after {
    content: "*";
    color: #ee5253;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    align-items:
  }

  .meal-type-box {
    flex: 1;
    background-color: rgba(225, 225, 225, 0.9);
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    max-width: 400px;
    flex-direction: column;
    text-align: left;
  }

  .random-meal-box {
    flex: 1;
    background-color: rgba(225, 225, 225, 0.9);
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    max-width: 400px;
    flex-direction: column;
    text-align: left;
  }

  .random-meal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pot-image {
    width: 125px;
    height: 125px;
  }
  .hidden {
    display: none !important;
  }

  #lets-cook-button {
    width: 20vh;
    background-color:#0fb9b1;
    border-radius: 6px;
    margin-top: 20px;
    font-weight: 300;
  }
.you-should-make {
    font-style: italic;
    font-weight:300;
    font-size: 20;
}

h1 .red-asterisk {
    color: red;
  }