/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
  margin: 0px;
  background-image: url("assets/burger-friends.jpg");
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.header-bar{
  background-color: #0fb9b1;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

button {
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
}

.submit {
  background-color: #0fb9b1;
  width: fit-content;
  padding: 12px;
  padding-left: 72px;
  padding-right: 72px;
  margin: 8px;
}

.add-recipe{
 padding: 10px;
 padding-left: 16px;
 padding-right:16px;
}

h1 {
  font-size: 42px;
  margin-bottom: 16px;
  margin-left: 8px;
}

.asterisk {
  color: #ee5253;
  font-size: 36px;
  position: relative;
  bottom: 14px;
}

.name-of-dish {
  font-size: 58px;
  margin: 0px;
}

h2 {
  margin: 0px;
  font-size: 32px;
}

h3 {
  font-size: 26px;
  margin: 0px;
}

.boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 64px;
}

.inner-box{
  background-color: rgba(225, 225, 225, .9);
  padding: 36px;
  width: 600px;
  height: 475px;
}

.radio-section {
  display: flex;
  flex-direction: column;
}

.radio-option {
  padding: 16px;
  font-size: 28px;
}

.cookpot {
  height: 200px;
  width: 200px;
}

.cookpot-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dish-header {
  font-style: italic;
}

.meal-text{
  text-align: center;

}

.clear {
  color:white;
  padding: 14px;
  padding-left: 18px;
  padding-right:18px;
  background-color: #95a5a6;
  position: relative;
  top: 175px;
  left: 245px
}

.hidden {
  display: none;
}