/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("assets/burger-friends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #0fb9b1;
  padding: 10px;
}

main {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

section {
  flex: 1;
  display: table;
  padding: 50px 100px;
}

.box {
  background-color: rgba(225, 225, 225, .9);
  display: table-cell;
  vertical-align: middle;
  padding: 50px;
}

input[type="radio"] {
  margin: 0 10px 0 10px;
}

.cookpot {
  max-width: 50%;
  height: auto;
}

.pot {
  text-align: center;
}

.asterix {
  color: #ee5253;
}

.butts {
  padding: 7px;
}

.butts2 {
  padding: 10px;
}

.lets-cook {
  border-radius: 3px;
  padding: 5px 50px 5px 50px;
  background-color: #0fb9b1;
  border: none;
}

.lets-cook:hover {
  background: #95a5a6;
}