/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

   */
   
* { 
   font-family:'Roboto', sans-serif;
   margin: 0;
}
           
header {
    background-color:#0fb9b1;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 14px; 
    font-size: small
}

.header-button {
    border: 0;
    border-radius:5px;
    height: 45px;
    width: 150px;
    font-size: medium;
}

body {
    background-image: url("assets/burger-friends.jpg");
    background-size: cover;
}

section {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

article {
    background-color: rgba(225, 225, 225, .9);
    height: 380px;
    width: 450px;
    display:flex;
}

.selection-box {
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
}
 
.box-title {
    font-size: x-large;
    padding-left: 30px;
}


.cook-button {
    background-color: #0fb9b1 ;
    border-radius: 4px;
    border-color:#0fb9b1; 
    height: 45px;
    width: 180px;
    font-size: medium;
}

.pot-box {
    justify-content: center;
    align-items: center;
}

img {
    height:180px;
    width:auto;
    position:center;
}