/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #0fb9b1; 
  padding: 20px 20px;

}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  margin: 0;
}

.button1 {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  background-color: rgba(225, 225, 225, .9); 
  border-radius: 5px;
  padding: 0px 10px;
  border: none;
}

.img1 {
  position: absolute;
  margin: 0;
  width: 100%;
  height: auto;
}

.background-container {
  width: 100%;
}

.wrapper {
  display: flex;
 }

.box {
  background-color: rgba(225, 225, 225, .9);
  height: 500px;
  width: 550px;
  margin: 5%; 
  z-index: 1;
  opacity: 0.96;
}

.box-header {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding-top:10%;
  padding-left:15%;
}

.last-letter {
  color: red;
}

.meal-button {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-top: 2.5%;
  padding-left: 15%;
}

.radio-button{
  padding-top: 3.5%;
}

.button2 {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  background-color: #0fb9b1;
  border-radius: 5px;
  border: none;
  margin-top: 4%; 
  margin-left: 15%;
  padding: 2% 12%;
}

.img2 {
  max-width: auto;
  max-height: 28%;
  margin-top: 33%; 
}

.text-wrapper {
  font-family: 'Roboto', sans-serif;
  align-items: center; 
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 40%;
    
}
.suggestion {
  display: none; 
  font-style: italic;
  font-size: 18px;
}

h2 {
  margin-top: 0px;
  padding-left: 5%;
  padding-right: 5%;
}








