/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

* {
  border: 2px solid blue;
}

body {
    padding: 0;
    margin: 0;
    border : 0;
    background-image: url('./assets/burger-friends.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

header {
    background-color: #0fb9b1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    background-color: rgba(225, 225, 225, .9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    width: 500px;
}

.output {
    background-color: rgba(225, 225, 225, .9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
  }

  .boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 100px;
  }
  
  .label {
    margin: 10px 20px;
  }
  
  .button {
    padding: 5px;
    margin: 10px 320px 10px 20px;
    background-color: #0fb9b1;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }

  h1 {
    font-size: 30px;
  }

  button {
    padding: 6px 12px;
    margin: 5px 20px;
    border: none;
    border-radius: 8%;
    border-radius: 8px;
    font-size: 18px;
  }

  img {
    height: 150px;
    width: 150px;
  }

  p {
    font-size: 30px;
  }
  
  label {
    font-size: 18px;
  }