/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
.everything{
  margin: 0%;
}

body{
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
}

.background{
  margin: 0;
  position: fixed;
  margin-left: -200px;
  background-size: cover;
  object-fit: contain;
  width: 150%;
  z-index: -5;
}

.header{
  margin-left: -.6%;
  position: absolute;
  top: 0%;
  background-color: #0fb9b1;
  text-align: left;
  font-size: 20px;
  height: 15%;
  width: 200%;
}

.what-dinner{
  margin-left: 1%;
}

button{
  padding: 10px;
}

#boxes{
  align-items: column;
}

#add-recipe-button{
  margin-left: 30%;
  font-size: 20px;
  color: #616161;
  border-radius: 10px;
  top: 10%;
  height: 50px;
  width: 10%;
  background-color: #eae5e5;
  border-color: #eae5e5;
  border-style: solid;
  transition-duration: 1s;
}

#add-recipe-button:hover {
  background-color: #e0e0e0;
  color: black;
  border-style: solid;
  border-color: #e0e0e0;
  transform: translateY(-2px);
}

.select-dish-box{
  position: absolute;
  top: 25%;
  bottom: 10%;
  padding: 5%;
  background-color: rgba(225, 225, 225, .9);
  width: 25%;
  margin-top: 0%;
  margin-left: 10%;
}

#lets-cook-button{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #5ed6d0;
    border-color: #5ed6d0;
    width: 255px;
    transition-duration: 0.8s;
    border-style: solid;
}

#lets-cook-button:hover {
  background-color: #10B9B1;
  border-color: #10B9B1;
  border-style: solid;
  transform: translateY(-2px);
}

.recipe-box{
  position: absolute;
  top: 25%;
  bottom: 10%;
  padding: 5%;
  background-color: rgba(225, 225, 225, .9);
  width: 25%;
  margin-top: 0%;
  margin-left: 50%;
}

.cook-pot-img{
  padding: 20%;
  padding-bottom: 20px;
  border-bottom: 50px;
  margin-bottom: 30%;
  position: relative;
}

.hidden{
  display: none;
}

.you-should-make{
  text-align: center;
  vertical-align: middle;
  font-style: italic;
  font-size: 20px;
}

.return-msg{
  position: relative;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  font-size: 40px;
}

.combo{
  font-size: 30px;
  position: relative;
  bottom: 20%;
  font-weight: bold;
  text-align: center;
  vertical-align: sub;
  margin-top: 0;
  margin-bottom: 0;
}

.red-star{
  color: #ee5253;
}


/* .loader{
  position: relative;
  margin-left: 30%;
  border: 20px solid #f3f3f3;
  border-top: 20px solid #ee5253;
  border-bottom: 20px solid #0fb9b1;
  border-left: 20px solid #E5B045;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation-duration: 1s;
  animation: spin 2s linear infinite;
}

@keyframes spin{
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
} */
/* #clear-button{
  position: relative;
  padding: 5%;
  font-size: 20px;
  border-radius: 6px;
  margin:0;
  background-color: #95a5a6;
  border-color: #95a5a6;
  color: white;
  width: 85px;
  transition-duration: 0.7s;
  border-style: solid;
}

#clear-button:hover{
  color: black;
  border-style: hidden;
  background-color: white; opacity: 40%;
  transform: translateY(-3)
} */
