/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253 */


body {
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  max-width: 100%;
}

span{
  color: #ee5253;
}


/* NAVIGATION BAR */

div {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

nav {
  display: flex;
  background-color: #0fb9b1;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14;
}

.navbar-button {
  border-radius: 5%;
  margin: 15px;
  border-radius: 4px;
  border: none;
  width: 115px;
  background-color: rgba(225, 225, 225, .9);

}

/* DISH SELECTOR SECTIONS */

main {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 60%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.dish-displays {
  height: 275px;
  width: 375px;
  background-color: rgba(225, 225, 225, .9);
  padding: 40px;
}

input[type="radio"] {
  margin: 10px;
}

.dish-selector-button {
  background-color: #0fb9b1;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  width: 175px;
}

h2 {
  font-weight: bolder;
}

svg {
  display: block;
  height: 120px;
  width: 120px;
  padding: 60px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 75px;
}

.selected-dish {
  display: none;
  text-align: center;
  padding-top: 25%;
  justify-content: center;
}

h3 {
  font-size: 1em;
  margin: 0px;
  font-style: italic;
}

h4 {
  font-size: 2em;
  margin: 5px;
}

#clear {
  margin-top: 100px;
  margin-left: 325px;
  color: rgba(225, 225, 225, .9);
  background-color: #95a5a6;
  border: none;
  padding: 7px 10px;
  border-radius: 4px;
}
