/* ~~~~~ Global Rules ~~~~~ */


* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none !important;
}

body {
    background-image: url('assets/burger-friends.jpg');
    background-size: cover;
}

header {
    display: flex;
    height: 5%;
    padding: 15px;
    background-color: #0fb9b1;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

button {
    height: 50px;
    width: 150px;
    border-width: 0px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: medium;
}

article {
    display: flex;
    width: 500px;
    height: 400px;
    padding: 50px;
    margin-top: 5%;
    background-color:rgba(225, 225, 225, .9);
}

/* ~~~~~ Main view ~~~~~ */

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.input-box {
    flex-direction: column;
    justify-content: space-around;
}

.lets-cook-btn {
    background-color: #0fb9b1;
    width: 200px;
}

.cookpot-box {
    justify-content: center;
    align-items: center;
}

.cookpot {
    height: 200px;
    width: 200px;
}

.recipe-view {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    margin-top: auto;
}

.recipe {
    font-size:x-large;
    font-style: italic;
}

.control-bar {
    align-self: flex-end;
    margin-top: auto;
}

.favorite {
    background-color: #0fb9b1;
    margin-right: 15px;
}

.clear {
    display: inline;
    width: auto;
    padding: 15px;
    background-color: #95a5a6;
    color: rgb(225,225, 225);
}

.required::after {
    color: #ee5253;
    content: "*";
}



/* ~~~~~ Favorites view ~~~~~ */

.favorites-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.favs-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top:  25px;
}

.fav-header {
    align-self: center;
    font-size: large;
    font-size: x-large;}

.card {
    display: flex;
    background-color: #0fb9b1;
    height: 50px;
    width: 150px;
    border-width: 0px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: medium;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.remove {
    height: 30px;
    width: 30px;
    padding: 2px;
    background-color:#95a5a6;
    margin-left: 10px;
}