body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./assets/burger-friends.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

header {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 25px;
}

.teal-background{
  background-color: #0fb9b1;
}

.main-display{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.menu-box {
  width: 33vw;
  height: 50vh;
  background-color: rgba(225, 225, 225, .9);
}

.super {
  color: #ee5253;
  padding-right: 5px;
  position: relative;
  right: 9px;
}

.menu-box-left {
  /* border: 2px solid red; */
  /* padding-top: 10px; */
  padding-left: 40px;
}

h1 {
  font-size: 2.5vw;
  margin-top: 60px;
  font-weight: bolder;
}

.menu-box-image {
  /* border: 2px solid red; */
  display: flex;
  margin: 0 auto;
  max-width: 25%;
  height: inherit;
  justify-content: center;
}

.food-idea-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-style: italic;
  font-size: 1em;
  margin-top: 18vh;
}

h4 {
  margin: 0;
  font-size: 3vw;
  font-weight: bold;
}

.radio-button {
  font-size: 20px;
  padding: 10px 0;
}

.lets-cook {
  font-size: 16px;
  margin-top: 15px;
  border: 0;
  border-radius: 8px;
  padding: 2vh 5vw;
}


.hidden {
  display: none;
}
/* font-family: 'Roboto', sans-serif; */

/* COLORS
teal - ;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253 */
