html {
    font-family: 'Roboto', sans-serif;
}

/* COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253 */

*/
html {
    border:thin red;
    padding: 0px;
    margin: 0px; 
}
body {
    display:flex;
    flex-direction: column;
    background-image: url(assets/burger-friends.jpg);
    border:thin red;
    background-size: cover;
    width: 100vw;
    height: 100vh;
   margin: 0px;
}

main {
        margin-top: 20px;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-content: center;
        align-items: flex-start;
}
nav {
    background-color:#0fb9b1 ;
}
h1 {
    padding-left: 1vw
}
.wrapper {
    height: 400px;
    width: 500px;
    background-color: rgba(225, 225, 225, .9);

}
.wrapper:nth-child(1) {
    display:flex;
    align-items: flex-start;
    justify-content:space-evenly;
    flex-direction:column;
    padding-left: 3%;
    }
fieldset {
    border:0
}
    button {
        background-color: #0fb9b1;
    width: 150px;
    height: 25px
}
    
.wrapper:nth-child(2) {
    display:flex;
    align-items: center;
    justify-content: center;
}

#crockpot {
    height: 100px;
    width: 100px;
   }


