/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
* {
  font-family: 'Roboto', sans-serif;

}

div {
  background-image: url("assets/burger-friends.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1800px 1400px

}
