/* 

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
    background: url("assets/burger-friends.jpg");
    background-size: cover;
    background-position: 0 50px;
    background-repeat: no-repeat;
    margin: 0;
}

.nav-bar {
    background-color: #0fb9b1;
    padding: 8px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.add-recipe-button {
    background-color: rgba(225, 225, 225, .9);
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    border-radius: 3px;
    padding: 5px;
;
}

.two-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: auto;
    align-items: flex-end;
}

.looking-for {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 10px;
    margin: 0px 0px 5px 0px;
}

.first-box {
    padding: 50px;
    font-size: 20px;
    background-color: rgba(225, 225, 225, .9);
}

.second-box {
    background-image: url(assets/cookpot.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100px;
    padding: 183px;
    margin-top: 100px;
    background-color: rgba(225, 225, 225, .9);
}

form {
    padding: 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    display: flex;
    flex-direction: column;
}

#lets-cook-btn {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 5px;
    height: 35px;
    width: 185px;
    background-color: #0fb9b1;
    border: none;
    border-radius: 8px;
}

p {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}





