/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/



* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 70px;
  background-color: #0fb9b1;
  margin:0;
  display: flex;
}

h1 {
  font-family: 'Roboto';
  font-size: xx-large;
  padding-left: 5%;
  padding-top: 1%;
}


body {
 background-image: url("assets/burger-friends.jpg");
 background-size: cover;
}
 
.container {
  
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  height: 400px;
  width: 500px;
  justify-content: space-around;
}

.box:nth-child(1) {
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding-left: 3%;
}

h2 {
  font-family: sans-serif;
  font-size: xx-large;
}

span {
  color: red;
}

fieldset {
  border: 0;
}

label {
  font-family: sans-serif;
  font-size: x-large;
}

button {
  height: 12%;
  width: 40%;
  background-color: #0fb9b1;
  border: 0;
  cursor: pointer;
  
}

.box:nth-child(2) {
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  justify-content: center;
  align-items: center;
}