/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  border: 2px green solid
}
html {
  font-family: ‘Roboto’, sans-serif;
  background: url(/Users/williammcguire/whats-for-dinner/assets/burger-friends.jpg) no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
.header {
  overflow: hidden;
  background-color: #0fb9b1;
  padding: 10px 5px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
}
.header a.title {
  font-size: 25px;
  font-weight: bold;
}
.header a.active {
  background-color: dodgerblue;
  color: white;
}
.header-right {
  float: right;
  background-color: rgba(225, 225, 225, .9);
  border: none;
  color: black;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.user-select {
  background: rgba(225, 225, 225, .9);
  width: 450px;
  height: 300px;
  margin: 50px;
  border: 75px ;
  padding: 50px;
}
.cookpot-logo {
  background: rgba(225, 225, 225, .9);
  background-size: cover;
  width: 300px;
  height: 250px;
  margin: 50px;
  border: 100px ;
  padding: 75px;
}
  /* position: right; */
