/* * {
  border: solid 5px yellow;
} */

nav {
  max-width: auto;
  display: flex;
  background-color: #0fb9b1;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  background-size: cover;
  margin: 0px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#cook-pot {
  width: 150px;
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  margin: 100px;
  align-items: center;
}

.box-1 {
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  height: 400px;
  width: 400px;
  justify-content: space-evenly;
  flex-direction: column;
}

.box-2 {
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  height: 400px;
  width: 400px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.form-header {
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
  padding-top: 35px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 30px;
}

form {
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
  margin: 50px;
  margin-bottom: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  margin: 15px;
  transform: scale(1.5);
}

span {
  color: #ee5253
}

.button {
  padding: 10px;
  border-radius: 12px;
  background-color: #0fb9b1;
}

#Add-a-recipe-btn {
  margin: 10px;
  background-color: rgba(225, 225, 225, .9);
}

#lets-cook {
  margin-top: 20px;
  font-size: 15pt;
}

#lets-cook:hover {
  cursor: pointer;
  background-color: #0fa8b9;
}

/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
