/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

* {
  box-sizing: border-box;
}

body {
  background-image: url(assets/burger-friends.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

main {
  /* border: 4px solid blue; */
  display: flex;
  justify-content: space-evenly;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none!important;
}

/* Header Section */

header {
  background-color: #0fb9b1;
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.headerButton {
  align-self: center;
  background-color: rgba(225, 225, 225);
  padding: 10px 10px 10px 10px;
  border-style: none;
  border-radius: 5px;
  transition: 0.5s;
}

.headerButton:hover{
  background-color: #c7c5c5;
}

/* User Input Section */

.userInputSection {
  /* border: 2px solid red; */
  background-color: rgba(225, 225, 225, .9);
  width: 450px;
  height: 350px;
  margin: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interfaceContainer {
  /* border: 2px solid purple; */
  width: 350px;
  height: 275px;
}

.questionContainer {
  display: flex;
}

.lookingForContainer {
  /* border: 2px solid blue; */
}

.astericksContainer {
  /* border: 2px solid pink; */
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.astericks {
  color: red;
  margin-top: 45px;
  margin-right: 18px;
}

.radioButton {
  /* border: 2px solid orange; */
  margin-bottom: 15px;
}

.mainButton {
  background-color: #0fb9b1;
  border-style: none;
  border-radius: 5px;
  padding: 10px 50px 10px 50px;
  margin-top: 5px;
  transition: 0.5s;
}

.mainButton:hover {
  background-color: #0fa8a1;
}

/* Suggestions Section */

.suggestionsSection {
  /* border: 2px solid red; */
  background-color: rgba(225, 225, 225, .9);
  width: 450px;
  height: 350px;
  margin: 50px 0px 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookpotImgContainer {
  /* border: 2px solid purple; */
  height: 100px;
  width: 100px;
}

.suggestion {
  /* border: 2px solid red; */
  width: 375px;
  display: flex column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.youShouldMake {
  /* border: 2px solid purple; */
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.foodSuggestionClass {
  /* border: 2px solid blue; */
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 15px;
}

/* Favorites Section */

.favoritesSection {
  /* border: 2px solid red; */
  background-color: rgba(225, 225, 225, .9);
  width: 900px;
  height: 500px;
  margin: 50px 0px 50px 0px;
}

.noFavoritesContainer {
  /* border: 2px solid red; */
  display: flex column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.favoriteRecipesDisplay {
  /* border: 2px solid purple; */
  width: 900px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.savedRecipe {
  border: 2px solid #0fb9b1;
  font-size: 18px;
  height: 125px;
  width: 200px;
  padding: 5px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
}

.savedRecipe:hover {
  cursor: pointer;
  background-color: #0fb9b1
}

.favoritesTitle {
  /* border: 2px solid red; */
  position: relative;
  text-align: center;
}

.deleteRecipeP {
  /* border: 2px solid red; */
  margin-top: -15px;
}
