/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

 */

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 0;
  margin: 0;
  width: 100vw;
  height: 6vh;
  background-color: #0fb9b1;
}

h1 {
  margin: 7px;
  margin-left: 20px;
  font-size: 21px;
  font-weight: bold;
  line-height: -3px;
  height: -3px;
}

.add-recipe {
  padding: 7px;
  margin: 7px;
  margin-right: 20px;
  border: 1px;
  border-radius: 4px;
}

.container {
  height: 765;
  background-image: url("./assets/burger-friends.jpg");
  display: flex;
  align-items:flex-start;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

 .item-box {
   font-size: 25px;
   font-weight: bold;
   vertical-align: center;
   text-align: center;
   background-color: rgba(225, 225, 225, .9);
   opacity: 90%;
   padding: 5px;
   margin: 50px;
   width: 150vw;
   height: 50vh;
 }

 sup {
   color: #ee5253;
 }

.meal-options-form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: normal;
}

 .lets-cook-button {
   font-size: 15px;
   border: 1px;
   border-radius: 4px;
   background-color: #0fb9b1;
   height: 40px;
   width: 220px;
   margin-top: 30px;
 }

.cookpot-image {
  background-image: url("./assets/cookpot.svg");
}

 .cookpot-box {
   background-position: center;
   background-repeat: no-repeat;
   background-size: 150px;
   background-color: rgba(225, 225, 225, .9);
   vertical-align: center;
   text-align: center;
   opacity: 90%;
   padding: 20px;
   margin: 50px;
   width: 150vw;
   height: 46vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }

.hidden {
  background-image: none;
}

.cookpot-meal {
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
}

#random-meal-choice {
  font-size: 50px;
  font-weight: bold;
  margin-top: 0;
}
