html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

nav {
  background-color: #0fb9b1;
  height: 8.5%;

}

.page-name {
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
  border: 0 auto;
  padding: .7em;

}

.add-recipe {
  float: right;
  border-radius: .5em;
  padding: .6em;
  border: none;
  font-size: .6em;

}


.main-image {
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 1;

}

.box {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  height: 63%;
  width: 84%;
  margin: auto;
  padding: 6% 0;

}

.left {
  background-color: rgba(225,225,225,.9);
  width: 40%;
  line-height: 2.7em;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  padding: 1em;

}

.right {
  background-color: rgba(225,225,225,.9);
  width: 40%;
  content: inherit;
  font-size: .5em;

}

.looking-for {
  padding: .2em;
  font-size: 1.5em;
}

.red-star {
  color: #ee5253;
}

.lets-cook {
  background-color: #0fb9b1;
  float: left;
  border-radius: .5em;
  padding: 1em;
  border: none;
  width: 50%;
  font-size: .8em;
}

.pot {
  display: flex;
  height: 40%;
  width: 40%;
  margin: auto;
  padding: 30em;
}

/*
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
