/* COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253;

*/
@font-face {
	font-family: "cloud";
	src: url("../assets/CottonCloud.ttf");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-image: url("assets/burger-friends.jpg");
  background-size: cover;
}

button {
  display: flex;
  padding: 10px;
  font-family: inherit;
}

button.dreamy {

}

.navbar.dreamy {
  background-color: #D5F5E3;
  border-bottom: 4px #ABEBC6 solid;
  font-family: "cloud"
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #0fb9b1;
}

#title {
  display: flex;
  margin-left: 50px;
  font-size: 20px;
}

#header-button {
  margin-right: 50px;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  display: flex;
  background-color: rgba(225, 225, 225, .9);
  padding-right: 50px;
  padding-left: 50px;
  height: 400px;
  width: 400px;
  margin-top: 200px;

}

.main-container {
  display: flex;
  justify-content: center;
}

.main-container.dreamy {
  background-image: url("https://cdn.pixabay.com/photo/2017/02/16/19/47/bokeh-2072271__480.jpg");
  background-size: cover;
  height: 1500px;
  width: 2000px;
  font-family:
}

.userInputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
}

.userInputForm.dreamy {
  background-color: #FFF9FE;
}

.main.contain.dreamy {
  background-color: #FFF9FE;
}

.this {
  display: flex;
}


.userSelection {
  display: flex;
}

.recipeDisplayContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}

#results-string-container {
  display: flex;
}

.contain {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cookpot {
  display: flex;
  height: 300px;
}
